*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: auto;
    padding: 50px 0;
}

[class*="col-"]{
    float: left;
    padding: 50px 0;
    position: relative;
    background-color: pink;
    border: 1px solid black;
    text-align: center;
}
/* .row{
    margin-left: -50px;
} */
.mini-pad{
    padding: 5px;
}
.no-pad{
    padding: 0;
    border: none;
}

div.int{
    background-color: rgb(253, 5, 170);
    border: 1px solid white;
}